<h2>Edit Events</h2>

<%#= form_for @event, :url => { :controller => 'events', :action => 'update', :id => @event } do |f| %>

<!-- 到create action-->
<%= form_for @event, :url =>  event_path(@event), :method => :patch  do |f| %>

<% if false%>
已轉到_form.html.erb
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
<% end%>



    <%= render :partial => 'form', :locals => { :f => f } %>


    <%= f.submit "Update" %>
<% end %>