<h2>show html  event name [<%= @page_title%>]</h2>


<%= @event.name %>
<%= simple_format(@event.description) %>

<!-- <p><%= link_to 'Back to index', :controller => 'events', :action => 'index' %></p> -->

<p>Group:
  <% @event.groups.each do |g| %>
    <%= g.name %>
  <% end %>
</p>
<!-- 不需加 :method => :get , 因 link_to 本身就是 get -->
<p><%= link_to 'Back to index', events_path %></p>




<% if false %>
其中simple_format是一個內建的View Helper，它的作用是
可以將換行字元\n置換成<br />，有基本的HTML換行效果。
<% end%>
