<!DOCTYPE html>
<html>
<head>
  <title><%= @window_title || @page_title || "Event Application" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
<%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
<%= link_to('修改密碼', edit_registration_path(:user)) %>
<% else %>
<%= link_to('註冊', new_registration_path(:user)) %> |
<%= link_to('登入', new_session_path(:user)) %>
<% end %>

<p style="color: #00ff00"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 -->
<%= yield %>
<br>
<br>
<div style="color: #aaa" >
<p>-------footer---------</p>
<p>email: asdf@fad.com</p>
<p>password: asdfjkl;</p>
<p>email: aaa@aaa.bb</p>
<p>password: asdfjkl;</p>
<p>username: yyyyyyy</p>

</div>

</body>
</html>
